@font-face {font-family:"Tengwar Annatar Italic";
    src:url("police/tngani.eot?") format("eot"),
    url("police/tngani.woff") format("woff"),
    url("police/tngani.ttf") format("truetype"),
    url("police/tngani.svg#TengwarAnnatar-Italic") format("svg");
    font-weight:normal;font-style:normal;
}
@font-face {
    font-family: 'partybusiness';
    src:URL('police/partybusiness.ttf');
}

@font-face {
font-family: 'anironcbold';
src: url('police/anicb___-webfont.woff2') format('woff2'),
     url('police/anicb___-webfont.woff') format('woff');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'anironregular';
src: url('police/anirm___-webfont.woff2') format('woff2'),
     url('police/anirm___-webfont.woff') format('woff');
font-weight: normal;
font-style: normal;
}


@font-face {
font-family: 'anironcregular';
src: url('anicm___-webfont.woff2') format('woff2'),
     url('anicm___-webfont.woff') format('woff');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'anironbold';
src: url('anirb___-webfont.woff2') format('woff2'),
     url('anirb___-webfont.woff') format('woff');
font-weight: normal;
font-style: normal;
}

body {
    background-image: url("https://lh3.googleusercontent.com/a1yU-3wrp4Sj3mR185xcMBcUKzk3PYVGevcdUKJUIM3BUfVwwWn7llACtTVSE0FIpWtTSUVz9H0d4ZzmaQbciyQvtcLAYk0iMfIuAph45L5VAqz-Yz3CyT1FONfR9nkfihYuuJvl53cyEEHFLfPaP1RxSW-KIbKl5xyyjVsWb-fAU8FArqY1oQdAEAJPxv0L4mKxTs2KRBKmZs-SDJMgRoLOZtyFjLouqrgCR9IqHseBEmcEmA4pXxFchTD3R-y2Z5LKWwVvktoowNPLjptXm05rrcoHJPvK-cCtTk0seK5Y5J1o00EHvbkEYKQ2BiXSQos2cFBnp8e45Uk7dgR3zfi8SZLDap8-WCK_l_FTgSnNdGx8784FjRZrI0P5jrAgMq3cVq4a8QDAWeAemT4tkEeflWKF2xGiqydHvjJ3P-Dxve5rKXOTJfIHIC2QI17GHWu4tOKQBRxAAZNqKwFoUitVJpMRBQ4zYjzaMt-PW-wK1cOsfx-OqmJPd-oJ4-sjIg8hd5eAog-Qt5-Vyz_RcQh1S20_4bhzovdaYVJ5Am7DBQwYlGv2C2GCxpQzBNNozOy1oj7AdWH6JUbLT8EfbPjlhaUxbnLYI2e3C2BMxNhY-Gy7uaIl2ggZ6Dobmrk=s400-no") !important;
    text: 'pete-klasse_aniron' !important;
    color: black;
}
.subtitle {
    font-size: 40px
}
.subtitle2 {
    font-size: 17px
}
.wrapper {
    border: 1px;
    border-color: darkgrey;
    background-image: url(images/bg_light.png);

}
h1, h2, h3, h4, h5 {
    font-family:'anironregular';
}
h1 {
    font-family:'anironregular';
    text-align: center;
}
p {
    font-family: 'partybusiness';
    font-size: 25px;
}
.p {
    font-family: 'Tengwar Annatar Italic';
}
ul {
    padding: 0px;
    line-height: 30px;
}
.white-txt {
    color: white;
}
.img-circle {
    border-radius: 50%;
}
.orange {
    color: #ff5f01;
}
.killers {
    color: #ff5f01;
    font-size: 40px;
}

.navbar {
    background-color: #ff5f01;
}

.navbar-brand {
    color: white;
    text-transform: capitalize;
}
.nav-item, .navbar-brand {
    font-family: 'anironregular';
}
.navbar-brand:hover {
    color: white;
    opacity: 0.7;
}
.navbar-nav a{
    text-transform: capitalize;
    color:white;
}
.navbar-nav a:hover{
    color:white;
    opacity: 0.7;
}
.nav-link{
    border-right: 1px solid rgb(255, 202, 121);
}
.footer a {
    color: white;
}
.footer a:hover {
    color: white;
    opacity: 0.8;
}
.brdr-top {
    border-top: 5px solid #ff5f01;
    border-bottom: 5px solid #ff5f01;

    }
.btn {
    border: 0px;
}
.footer {
    background-color: #ff5f01;
    padding-top: 20px;
}
.footerul {
    list-style-type: none !important;
    font-family: 'anironregular';
    font-size: 14px;
}
a {
    color: black;
}
a:hover {
    color: black;
    text-decoration: underline;
}
.padd-top {
    padding-top:3%;
}
.padd-end {
    padding-bottom: 3%;
}
.bgdark {
    background-image: url(images/bg_dark.png)
}
.card-header {
    background-color: #ff5f01;
}
.bodygrey {
    background-color: #e6e6e6;
}
.card {
    border: #ff5f01;
}
.card-img-top {
    opacity: 0.6;
    z-index:1,
}

.card:hover
.card-img-top {
    opacity: 1
}

.crdtitle {
    position: relative;
    top: 170px;
}

.rwd {
    opacity: 1;
}
.rwd:hover {
    opacity: 0;
}
.rwd2 {
    opacity: 1;
}
.rwd2:hover {
    opacity: 0;
}
/*gandalf*/

.gandalfpic {
    position: relative;
}
.imgovl {
  opacity: 0.5;
}
.imgovl:hover {
  opacity: 1;
}
.gandalfpic:hover .reward {
  display: none;
}
.gandalfpic:hover .reward2 {
    display: none;
}
.gandalftxt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 80px;
  color: white;
}
.reward {
  border-radius: 15px;
  position: absolute;
  top: 48px;
  left: 5%;
  opacity: 0.7;
  font-size: 30px;
  color: black;
}
.reward2 {
    border-radius: 15px;
    position: absolute;
    top: 48px;
    left: 32%;
    opacity: 0.7;
    font-size: 30px;
    color: black;
  }
.gandalfpic:hover .gandalftxt {
  font-size: 30px;
  top: 60%;
  color: black;
  text-shadow: 2px 2px 5px #e6e6e6;
}


/* */


input::placeholder {
    font-family:'anironregular';
}
textarea::placeholder {
    font-family:'anironregular';
}
table {
    border-collapse: collapse;
    width: 100%;
}
th {
    border-bottom: 3px solid #888888;
}
td, tr{
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #888888;
    font-family:'anironregular';
}
.truc {
    font-family:'Tengwar Annatar Italic';
    color: #ff5f01;
    font-size: 30px;
}
.badge {
    color: #888888;
}
.ovl {
    opacity: 0.5;
}
.ovl:hover {
    opacity: 1;
}
